.button {
height: 80px;
width: 80px;
margin-bottom: 0.3%;
background-color: #000000;
font-size: 100%;
color: white;
font-family: 'Muli', sans-serif;
border-radius: 15px;
border-color: #000000;
}
.colorSample{
    height: 50px;
    width: 285px;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 10px;
}

